<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


  <%= form_for @review, url: brand_product_reviews_path(@product.brand, @product) do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <%= f.submit "Submit" %>
  <% end %>
 

  

